<tr class="@this.GetClass()">
    <td @onclick="@this.Toggle">@this.GetSelection()</td>
    @{
        int columnIndex = 0;
        foreach (Model.Cell cell in this.Value.Cells)
        {
            <Cell Value="@cell" Column="@(this.Columns[columnIndex])"/>
            columnIndex++;
        }
    }
</tr>

@code
{
    [Parameter]
    public Model.Row Value { get; set; }

    [Parameter]
    public IReadOnlyList<Model.Column> Columns { get; set; }

    private string GetSelection() => this.isSelected ? "(x)" : "( )";

    private bool isSelected = false;

    private void Toggle() => this.isSelected = !this.isSelected;

    private string GetClass() => this.isSelected ? "row-selected" : "";
}